{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="emergency" class="flex flex-col items-center pt-[10rem] text-2xl">

    <div class="">
        <h1>!!!! {{key}} !!!!</h1>
        <p id="page-key"  class="hidden">{{key}}</p>
    </div>
    <div id="major-print-div" v-for="code in gotQRCodes" class="w-[95%]">
        <div id="major-print-conditional" v-if="code.unique_key === '{{key}}'">
            <h1>[[code.unique_key]]</h1>
            <div id="test-div">
                <button @click="test()">TEST</button>

            </div>

            <div id="print-name-div" v-for="person in code.name_detail" class="pt-[1rem]">
                <p >
                    [[person.descriptor]]
                    <span>[[person.name]]</span>
                </p>
            </div>

            <div id="name-create-field" v-if="code.author_detail.username == currentUser.username" class="flex flex-col items-center pt-[1rem]">
                <button id="new-emergency-name-button"  @click="createName('{{key}}')" class="border rounded bg-[blue] text-[white] text-center w-[10rem] p-[0.5rem] ">Add a name!</button>
                <div id="make-new-emergency-name-div" class="hidden pt-[0.5rem]">
                    <input type="text" v-model="emergencyNameDescriptorInputField"  placeholder="descriptor" class="border bg-inherit "></input>
                    <input type="text" v-model="emergencyNameInputField" placeholder="name" class="border bg-inherit"></input>
                    <button  @click="createName(code.id)" class="pt-[0.5rem]">submit</button>
                </div>    
            </div>

            <div id="print-phone-div" v-for="phone in code.phone_detail" class="pt-[1rem]">
                <p >
                    [[phone.descriptor]]
                    <span>[[phone.phone_number]]</span>
                </p>
            </div>

            <div id="print-address-div" v-for="address in code.address_detail" class="pt-[1rem]">
                <p>[[address.descriptor]]</p>
                <p>[[address.street]]</p>
                <p>
                [[address.city]]
                <span>[[address.state]]</span>
                </p>
                <p>[[address.zip_code]]</p>
            </div>

        </div>
    </div>

    <div id="canvas" class="flex justify-center pt-[2rem]" ></div>


</div>


<!-- Import file.js -->
<script src="{% static '/emergency.js' %}"></script> 

<!-- Mount App -->
<script> const mountAppHome = emergency.mount('#emergency') </script>


{% endblock content %}