{% extends 'base.html' %}

{% block content %}

        <div class="mt-[1rem] h-[10rem] border flex items-center flex-wrap">
            <div v-for="(item, index) in currentUser.urls_detail">
                <a :href="'template/0/' + item.unique_key">

                    [[item.id]]
                </a>
                <img :id="'qr-img' + index" :src="test2(item.unique_key)" alt="">
                <p>[[index]]</p>
                
                <button v-if="item.author == currentUser.id" @click="deleteUrl(item.id)" class="fa-regular fa-circle-xmark" ></button>
            </div>
            <!-- <button v-if="qrCount < 5" @click="createUrl">create code</button> -->
        </div>
        <div id="qr-code-create-div" class="border flex justify-center">
            <transition name="fade" mode="out-in" @leave="" @enter="" v-bind:style="">
                <div v-if="transitionInt === 0">
                    
                    <button @click="transition1">Lets make a QR code!</button>
                </div>
                <div v-else-if="transitionBool === true" class="flex justify-evenly w-screen">

                    <p id="qr-init-p" >[[getQRcode()]]</p>
                    <div class="flex flex-col justify-evenly">
                        <button @click="editQRcode(2)" class="edit-qr-buttons" >BODY COLOR</button>
                        <button @click="editQRcode(1)" class="edit-qr-buttons" >BACKGROUND COLOR</button>
                        <button @click="editQRcode(6)" class="edit-qr-buttons" >FRAME COLOR</button>
                        <button @click="editQRcode(7)" class="edit-qr-buttons" >EYE COLOR</button>
                        

                    </div>
                    <img id="qr-builder-img" src="" alt="" class="border-2 border-[black]">
                    <div class="flex flex-col justify-evenly">
                        <button @click="editQRcode(4)" class="edit-qr-buttons" >CHANGE THE BODY!</button>
                        <button @click="editQRcode(3)" class="edit-qr-buttons" >CHANGE THE FRAME!</button>
                        <button @click="editQRcode(5)" class="edit-qr-buttons" >CHANGE THE EYE!</button>
                    </div>
                </div>
            </transition>

        </div>
        


{% endblock content %}