{% extends 'base.html' %}

{% block content %}

        <div class="mt-[1rem] h-[10rem] border flex items-center flex-wrap">
            <div v-for="item in currentUser.urls_detail">
                <a :href="'template/0/' + item.unique_key">

                    [[item.id]]
                </a>
            </div>
            <button v-if="qrCount < 5" @click="createUrl">create code</button>
        </div>
        <button @click="test">THE BUTTON</button>
        <img id="qr-place"  alt="">
        


{% endblock content %}